﻿
@{
    ViewData["Title"] = "Configuration of Tenants";
}

<div class="modal fade" id="configurationTenant" tabindex="-1" role="dialog" aria-labelledby="trailModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="trailModalLabel">Configuration Nexus Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="system-template-app">
                    <label for="label">Code: </label>
                    <div class="form-input"><input type="text" id="txtcodeRptModelTenant" /></div>

                    <label for="label">Description: </label>
                    <div class="form-input"><input type="text" id="txtdescRptModelTenant" /></div>

                    <label for="chkstatut">Statut: </label>
                    <div class="form-input"><input type="checkbox" id="chkstatut" /></div>

                    <label for="chkisDefaut">Is Default: </label>
                    <div class="form-input"><input type="checkbox" id="chkisDefaut" /></div>

                    <div id="templateView">
                        <label>Template View: </label>
                        <div class="form-input">
                            <button id="design-button" class='btn'><i class='fa fa-pencil-square-o'></i></button>
                        </div>
                    </div>


                    <div><input type="hidden" id="rptTenantId" /></div>
                    <div><input type="hidden" id="rptModelSysId" value="defaultTemplates.uuidRptModelSys" /></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnSaveClientTemplate" class="btn btn-secondary">Sauvegarder</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Message Display Modal -->
<div class="modal fade" id="msgDisplayTenantModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4 id="msgDisplayTenant"></h4>
            </div>
        </div>
    </div>
</div>
