﻿
@{
    ViewData["Title"] = "List of Tenants";
}

<h1>Client Templates</h1>

<script src="~/js/Templates/clienttemplates_configuration.js"></script>

<script type="text/javascript">
    LoadClientTemplates();
</script>

<label for="txtdescRptModelTenant">Description: </label>
<div class="form-input"><input type="text" id="txtdescRptModelTenant" /></div>
<br/>
<div id="btnAddTemplate"></div>
<div id="ddlClientTemplates"></div>
@await Html.PartialAsync("_ConfigurationTenantView.cshtml")

