﻿
@{
    ViewData["Title"] = "ConfigurationNexusView";
}

<!-- Modal -->

    <div class="modal fade" id="configurationNexus" tabindex="-1" role="dialog" aria-labelledby="trailModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="trailModalLabel">Configuration Nexus Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="system-template-app">
                        <div class="label">Code: </div>
                        <div class="form-input"><input type="text" v-model="defaultTemplates.codeRptModelSys" /></div>

                        <div class="label">Description: </div>
                        <div class="form-input"><input type="text" v-model="defaultTemplates.descRptModelSys" /></div>

                        <div class="label">Code Statut: </div>
                        <div class="form-input"><input type="text" v-model="defaultTemplates.codeStatut" /></div>

                        <div class="label">Statut: </div>
                        <div class="form-input"><input type="text" v-model="defaultTemplates.statut" /></div>

                        <div class="label">Is Auto Gen: </div>
                        <div class="form-input"><input type="checkbox" v-model="defaultTemplates.isTenantAutoGen" /></div>

                        <div class="label">Is Default: </div>
                        <div class="form-input"><input type="checkbox" v-model="defaultTemplates.isDefaut" /></div>

                        <div class="label">Template View: </div>
                        <div class="form-input"><textarea rows="4" for="templateModel" cols="50" id="txttemplateModel" v-model="defaultTemplates.templateModel" class="form-control"></textarea></div>

                        <div><input type="hidden" v-model="defaultTemplates.uuidRptModelSys" /></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

