﻿
@{
    ViewData["Title"] = "ConfigurationsView";
}

<h1>Default Templates</h1>

<script src="~/js/Templates/defaulttemplates_configuration.js"></script>

<script type="text/javascript">
    LoadDefaultTemplates();
</script>

<div id="ddlDefaultTemplates"></div>
@await Html.PartialAsync("_ConfigurationNexusView.cshtml")