﻿@model ReportingCore.Models.ReportTemplateModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Newtonsoft.Json;
@{
    var guid = Guid.NewGuid().ToString().Replace("-", "").Insert(0, "a");
}
<script src="~/js/Templates/report_templates.js"></script>
<script type="text/javascript">
    //var templates = templatesData; @*@Html.Raw(JsonConvert.SerializeObject(Model.ReportTemplates));*@
    var templatesData = [{
        "Id": 1014,
        "TemplateName": "Pointillé",
        "Code": "Pointillé 1",
        "Description": "template no. 1",
        "LayoutData": "<XtraReportsLayoutSerializer></XtraReportsLayoutSerializer>",
        "LastTemplateUpdate": "2019-09-04 00:00:01"
    }, {
        "Id": 1016,
        "TemplateName": "BluePrint",
        "Code": "BluePrint 2",
        "Description": "template no. 2",
        "LayoutData": "<XtraReportsLayoutSerializer></XtraReportsLayoutSerializer>",
        "LastTemplateUpdate": "2019-09-04 13:33:01"
    }];
    LoadReportTemplates(templatesData);
</script>

<div id="ddlReportTemplates"></div>