﻿@model ReportingCore.Models.ReportTemplateModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1>Edit Template View</h1>
<div class="icc-crm-section-content">

    <div class="form-group">
        <label for="">Code</label>
        <input type="text" class="form-control" id="txtCode" value="@Model.TemplateModel.Code" />
    </div>
    <div class="form-group">
        <label for="">Description</label>
        <input type="text" class="form-control" id="txtDescription" value="@Model.TemplateModel.Description">
    </div>
    <div class="form-group">
        <label for="">Modèle Designer</label>
        <a href='@string.Format("{0}?id={1}","ReportDesigner", Model.TemplateModel.Id.ToString())'>
            <button class='btn'><i class='fa fa-pencil-square-o'></i></button>
        </a>
    </div>
    <div class="form-group">
        <label for="">Modèle Preview</label>
        <a href='@string.Format("{0}?id={1}","ReportPreviwer", Model.TemplateModel.Id.ToString())'>
            <button class='btn'><i class='fa fa-sticky-note'></i></button>
        </a>
    </div>
    <div id="buttonContainer"></div>
</div>

