﻿@model ReportingCore.Models.ReportTemplateModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@{
    ViewData["Title"] = "Report Designer View";
}

<h1>Report Designer View</h1>
<input type="hidden" id="hdnUuid" value="@Model.Uuid" />
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4 id="msgDisplay"></h4>
            </div>
        </div>
    </div>
</div>
@Html.DevExpress().ReportDesigner("ReportDesigner").Height("1500px").Bind(Model.Report).ClientSideEvents(configure => { configure.ReportSaving("reportSaving"); })

